/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 2px solid;
  border-left-color: black;
  background: rgb(119,225,249);
  background: linear-gradient(0deg, rgba(119,225,249,1) 0%, rgba(46,108,245,1) 100%, rgba(9,9,121,1) 100%);
  border-bottom: 2px solid;

}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: Georgia,Times,Times New Roman,serif; 
  font-size: 20px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: pink;
}

/* Style page content */
.main {
  font-family: Georgia,Times,Times New Roman,serif; 
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header {
     width:90%;
  font-family: Georgia,Times,Times New Roman,serif; 
  height: 25px;
  text-align: left;
  background: transparent;
  color: black;
  font-size: 20px;
  border-bottom: 2px solid;
  margin-left: 152px;
}
.header_text {
    margin-top: 20px;
    margin-left: 8px;
}

 body {
}

 img {
  border: 2px solid black;
}

 p {
  font-family: Georgia,Times,Times New Roman,serif; 
  /*font: Georgia;*/
}

.hide, .hide + label ~ div {
    display: none; 
}
.hide + label,
.hide:checked + label {
    padding: 0;
    color: black;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px dotted black;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: blue;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
    max-width: 800px;
 }

