{% extends "base.html" %}
{% block "content" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/acq_digi.css" %}"/>
<div class="main">
<div class="error_message">
{% if er_msg %} <p><strong>{{ er_msg }}</strong></p>{% endif %}
</div>
<div class="succsess_mesage">
{% if sc_msg %} <p><strong>{{ sc_msg }}</strong></p>{% endif %}
</div>
<form action="" method="post">
{% csrf_token %}
<table>
<tr>
<td>
<img src="{% static "images/sinii1.jpg" %}" alt="DemiVeemon" >
</td>
<td>
<img src="{% static "images/krasnii1.jpg" %}" alt="Gigimon" >
</td>
<td>
<img src="{% static "images/jeltii2.jpg" %}" alt="Tsunomon" >
</td>
</tr>
<tr>

{% for choice in quest %}
<td style="text-align:center">
    <div style="border:1px solid black">
        {% if choice not in usersDigi %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}">
            <label for="choice{{ forloop.counter }}">{{ choice }}</label>
        {% else %}
            <label for="choice{{ forloop.counter }}">You already have this one!</label>
        {% endif %}
    </div>
</td>
{% endfor %}

</tr>
<tr>
    <td style="text-align:center">
        <input class="hide" id="hd-1" type="checkbox" >
        <label for="hd-1">Click to know more</label>
        <div>DemiVeemon is a Baby Dragon Digimon. Unusually for an In-Training Digimon, it possesses a body, hands, and feet, and so is able to grip objects with both of its small hands, and move while hopping about with both feet. As it is very voracious, it especially likes sweet foods. Also, as it is very fond of sleeping, if you take your eyes off of it, it will instantly fall asleep.<br>
            {% if 'DemiVeemon' not in usersDigi %}
             Money need to acquire: 5 <br>
             Meat need to acquire: 5
            {% endif %}
        </div>
    </td>
    <td style="text-align:center;">
        <input class="hide" id="hd-2" type="checkbox" >
        <label for="hd-2">Click to know more</label>
        <div>Gigimon is a Lesser Digimon. Its physical features resemble those of Tokomon, and there are powerful fangs growing within its mouth. However, unlike Tokomon, who digivolves into the Mammal-species, Gigimon, who digivolves into the Dragon-species, has a rough personality, and is ferocious despite its small size. There are more than a few even larger Digimon that were deceived by its appearance and suffered a counterattack.
            {% if 'Gigimon' not in usersDigi %}
             <br>Money need to acquire: 5
             <br>Meat need to acquire: 5
            {% endif %}
        </div>
    </td>
    <td style="text-align:center">
        <input class="hide" id="hd-3" type="checkbox" >
        <label for="hd-3">Click to know more</label>
         <div>Tsunomon is a Lesser Digimon. It is a tiny Digimon that hardened one of the feelers on its head. From Punimon, it has accomplished a more animal-like Digivolution, and is covered in tufty body hair. It is still at the peak of playfulness, and it has a prank-loving personality, but its combat instinct has not awakened.
             {% if 'Tsunomon' not in usersDigi %}
             <br>Money need to acquire: 5
             <br>Meat need to acquire: 5
            {% endif %}
         </div>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td style="text-align:center">
        <input type="submit" value="Choose">
    </td>
</tr>
</table>
</form>
</div>
{% endblock %}
