{% extends "base.html" %}
{% block "content" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/registration.css" %}"/>
<div class="error_message">{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}</div>
<form action="" method="post">
 {% csrf_token %}
  <div class="main">
    <h1>Login</h1>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter name" name="name" id="name" required>
    <hr>
    <button type="submit" class="registerbtn">Login</button>
  </div>

  <div class="pososi">
    <p>Don't have an account yet? <a href="/registration/">Register now</a>.</p>
  </div>>
</form>
{% endblock %}